
.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #57b300;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: #f8fdec;
  border: 1px solid #9ece37;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card p {
  color: #555;
}

.heart-icon {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 0.3s;
}

.heart-icon.liked {
  color: red;
}

.filter-input {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.pagination {
  margin-top: 20px;
}

.page-button {
  background-color: #90b441;
  border: none;
  color: white;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.page-button:hover {
  background-color: #76a809;
}

.page-button.active {
  background-color: #76a809;
}

.error-container {
  text-align: center;
  padding: 20px;
}

.error-container p {
  font-size: 18px;
  color: red;
}

.error-container button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.error-container button:hover {
  background-color: #0056b3;
}